@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
#header .navbar{
    background-color: palevioletred;
}
#header .nav-link{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Bree Serif', serif;
    color: black;
}
.carousel-item >img{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    margin-top: 20px;
}
#about .ab{
    font-family: 'Bree Serif', serif;
}
#about .abt{
    font-size: 25px;
    font-family: 'Girassol', cursive;
}
#card .cd{
    font-family: 'Bree Serif', serif;
}
#card .card-img-top{
    text-align: center;
    font-size: 100px;
}
#card .card-title{
    font-family: 'Girassol', cursive;
    color: palevioletred;
    font-weight: bold;
    text-align: center;
}
#card .card-text{
    font-weight: bold;
}
#card .btn{
    background-color:palevioletred;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: block;
}
#gallery .gl{
    font-family: 'Bree Serif', serif;
}
#footer{
    font-family: 'Courier New', Courier, monospace;
    background-color: palevioletred;
    color: white;
    font-size: 25px;
    overflow: hidden;
}
#about1 .ab1{
    font-family: 'Bree Serif', serif;
}
#about1 .abt1{
    font-size: 25px;
    font-family: 'Girassol', cursive;
}
.abimg>img{
    padding-left: 200px;
}
#team{
    margin-top: 50px;
}
#team .tm{
    font-family: 'Bree Serif', serif;
}
#team .card-title{
    font-family: 'Girassol', cursive;
    color: palevioletred;
    font-weight: bold;
    text-align: center;
}
#team .card-text{
    font-weight: bold;
}
.cardab>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
} 
#address{
    overflow: hidden;
}
#address .ad{
    font-family: 'Bree Serif', serif;
   
}
#address .add{
    font-size: 25px;
    font-family: 'Girassol', cursive;
}
#form .fm{
    font-family: 'Bree Serif', serif;
}
.form-group>label{
    font-size: 20px;
    font-weight: bold;
}
.box-shadow {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15) !important;
}
.btn{
    background-color: palevioletred;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width: 200px;
}
.btn:hover{
    background-color: #0c5fa7;
}
#bg{
    background-image: linear-gradient(to top, rgba(255,0,0,0),rgba(219,112,147,1));
}
.grow:hover{
    transform: scale(1.1);    
}